@model Web.ViewModels.LoginViewModel
@Html.AntiForgeryToken()
@if (ViewBag.Message != null)
{
    <span class="text-success">@ViewBag.Message</span>
}
<span class="alert-danger">
    @Html.ValidationSummary()
</span>
<div class="md-form mb-5">
    <i class="fas fa-envelope prefix grey-text"></i>
    <input asp-for="Email" type="email" id="defaultForm-email" class="form-control validate">
    <label data-error="wrong" data-success="right" for="defaultForm-email">Логин</label>
</div>

<div class="md-form mb-4">
    <i class="fas fa-lock prefix grey-text"></i>
    <input asp-for="Password" type="password" id="defaultForm-pass" class="form-control validate">
    <label data-error="wrong" data-success="right" for="defaultForm-pass">Пароль</label>
</div>
